<!-- Evaluations Section -->
<section id="evaluations" class="text-center bg-light-gray">
  <div class="container">
    <h2 class="section-heading editable underlined">Evaluaciones</h2>
    <div class="col-sm-4 gallery-anchor-container">
      {% assign idx = 0 %}
      {% assign gen_id = "evaluation" %}
      {% assign item = site.evaluations[idx] %}
      {% assign color = item.bg_color %}
      <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor large" data-toggle="modal">
        <div class="img-text" style="background-color: {{ color}}">
          <h3>{{item.title}}</h3>
        </div>
      </a>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6 gallery-anchor-container">
          {% assign idx = 1 %}
          {% assign item = site.evaluations[idx] %}
          {% assign color = item.bg_color %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text" style="background-color: {{ color}}">
              <h3>{{item.name}}</h3>
            </div>
          </a>
        </div>
        <div class="col-sm-6 gallery-anchor-container">
          {% assign idx = 2 %}
          {% assign item = site.evaluations[idx] %}
          {% assign color = item.bg_color %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text" style="background-color: {{ color}}">
              <h3>{{item.name}}</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 gallery-anchor-container">
          {% assign idx = 3 %}
          {% assign item = site.evaluations[idx] %}
          {% assign color = item.bg_color %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text" style="background-color: {{ color}}">
              <h3>{{item.name}}</h3>
            </div>
          </a>
        </div>
        <div class="col-sm-6 gallery-anchor-container">
          {% assign idx = 4 %}
          {% assign item = site.evaluations[idx] %}
          {% assign color = item.bg_color %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text" style="background-color: {{ color}}">
              <h3>{{item.name}}</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include evaluation-modals.html identifier=gen_id items=site.evaluations %}
