  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.data.template.title }} {{ 'now' | date: "%Y" }}</span>
                    <span class="copyright"><a href="http://aristizabal95.github.io" target="_blank">Alejandro Aristizábal</a></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.data.template.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="mailto:{{site.data.template.email}}">{{site.data.template.email}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
