<!-- Gallery Section -->
<section id="gallery" class="text-center">
  <div class="container xl">
    <h2 class="section-heading editable">Galería</h2>
    {% include carousel.html gallery=page.gallery galleryid="main-carousel" %}
    <div class="credits">
        <a href="https://instagram.com/harrymramirez" target="_blank" class="editable"><p class="editable">@harrymramirez</p></a>
        <a href="https://instagram.com/entre.un.chat" target="_blank" class="editable"><p class="editable">@entre.un.chat</p></a>
    </div>
  </div>
</section>
