<!-- Statement Section -->
    <section id="statement">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Artist Statement</h2>
                    <p class="section-subheading justified text-muted editable">
                    Tejo sueños colectivos y bailo ilusiones. Creo fielmente en el movimiento del cuerpo como un medio de transformación personal y social. Mi aproximación a este es a través de la danza contemporánea y se desplaza hacia otras disciplinas y áreas de interés, como la danza aérea y la salsa.<br /><br />

                    Como ejecutante - creadora, he desarrollado una capacidad de auto-observación y auto-conocimiento, frente al movimiento y la apreciación de este como cuestión vital y de bien-estar. Esto lo traduzco en una práctica somática consciente en mi medio personal, que, trasciende al artístico.<br /><br />

                    Mi reflexión gira en torno a la creación interdisciplinar. Busco transformar, a partir de esta, los microuniversos de quien participa de un evento escénico, en busca de un mismo fin: conmover. Me cuestiono cómo potenciar los cuerpos ejecutantes, creadores y participantes, mediante la activación de un cuerpo vibrátil a través de experiencias sensoriales, tomando como experiencia primera, el encuentro con el otro. Es allí que se revela lo más emotivo de las artes escénicas, en el encuentro y la construcción de sentido y lenguajes por medio del diálogo entre universos.</p>
                </div>
            </div>
            <!--
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
          -->
        </div>
    </section>
