<!-- Statement Section -->
    <section id="statement">
        <div class="container sm">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Artist Statement</h2>
                    <p class="section-subheading justified text-muted editable">
                    Soy Estefanía Galindo López, ejecutante y creadora. Trabajo en propiciar espacios de colectividad, interdisciplinariedad y comunicación por medio de la danza contemporánea, incentivando la conquista de nuestros territorios corporales con el fin de visibilizar nuestras identidades.<br /><br />

                    Mis intereses creativos son la construcción de sentido por medio de experiencias sensoriales. Como creadora pretendo que el arte escénico posibilite el diálogo entre la música y las artes escénicas: uso los universos sonoros para alimentar la dramaturgia del movimiento. La improvisación entre estas dos disciplinas es la metodología que me permite construir colectivamente.<br /><br />

                    Uso la práctica de danza contemporánea como herramienta de conquista, es decir que el cuerpo debe ser un territorio que se habita conscientemente para poder decidir cómo se responde a los estímulos del contexto. Como intérprete pretendo que la danza construya identidades colectivas desde el reconocimiento corporal propio, del otro y del espacio que habito. Mi labor como artista es conmover, contextualizando mi práctica corporal como una vía de participación política. Poner en diálogo nuestras identidades, construir territorios colectivos y promover el arte escénico como una práctica conciliadora.</p>
                </div>
            </div>
            <!--
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
          -->
        </div>
    </section>
